* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../img/cream.png');
	min-width: 600px;
}

.title h1 {
	text-align: center;
	margin-top: 50px;
	color: #333333;
}

.markdown-header h3 {
	display: inline-block;
	color: #666666;
	float: left;
}

.text-header h3 {
	color: #666666;
}

.markdown-header button {
	display: inline-block;
}

.markdown-body textarea {
	width: 100%;
	height: 400px;
	padding: 10px 20px;
	border-color: #737373;
	background: #fcfcfc;
}

.markdown-body textarea:focus {
	outline: none;
}

.text-body .output {
	width: 100%;
	height: 400px;
	border: 1px solid #737373;
	padding: 10px 20px;
	word-wrap: break-word;
	color: #b3b3b3;
	background: #fcfcfc;
}

.examples-body hr {
	border: 1px solid #999999;
}

.examples-title h3 {
	color: #666666;
}

.examples-title p {
	color: #333333;
}

hr {
	border: 1px solid #666666;
}